[submodule "source/tests/qunit"]
	path = source/tests/qunit
	url = https://github.com/jquery/qunit.git
[submodule "build/grunt-closure-tools"]
	path = build/grunt-closure-tools
	url = https://github.com/thanpolas/grunt-closure-tools.git
[submodule "source/ss/libs/server2.js"]
	path = source/ss/libs/server2.js
	url = git@github.com:thanpolas/server2js.git
