[submodule "source/closure-library"]
	path = source/closure-library
	url = https://github.com/jarib/google-closure-library.git
[submodule "source/tests/qunit"]
	path = source/tests/qunit
	url = https://github.com/jquery/qunit.git
[submodule "backend/codeigniter"]
	path = backend/codeigniter
	url = git@github.com:thanpolas/CodeIgniter.git
