[submodule "engine/CI/application/libraries/core/User/FBapi"]
	path = engine/CI/application/libraries/core/User/FBapi
	url = https://github.com/facebook/php-sdk.git
[submodule "engine/CI/origin"]
	path = engine/CI/origin
	url = git@github.com:thanpolas/CodeIgniter.git
[submodule "html/js/closure-library"]
	path = html/js/closure-library
	url = git@github.com:thanpolas/google-closure-library.git
