.link {
  cursor: pointer;
}

#master div {
  padding: 20px 0 20px 0;
}
#master {
  padding: 20px;
}


#auth_state {

}
#auth_state_content {
  overflow: auto;
  border: 1px solid #bbb;  
  width: 500px;
  height: 300px;
  
}