* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
overflow-x:hidden;
overflow-y: auto;
	background-color:#fff6b7;

}


@font-face {
  font-family: "Deftone";
  src: url("/img/deftone.ttf");
}

 @font-face {
   font-family: 'DeftoneStylus-Regular';
   src: url('/img/deftone.eot');
   src: url('/img/deftone.eot?#iefix')
     format('embedded-opentype'),url('/img/deftone.woff')
     format('woff'),url('/img/deftone.ttf')
     format('truetype'),url('/img/deftone.svg#DeftoneStylus-Regular')
     format('svg');
 }

#footer {
	background-color: #212121;
	position: fixed;
	width: 100%;
	height: 70px;
	bottom: 0;
	left: 0;
}

.font_white {
  color: #FFF;
}

a.tzine,a.tzine:visited {
	background: url("/img/tzine.png") no-repeat right top;
	border: none;
	color: #FCFCFC;
	font-size: 12px;
	height: 70px;
	left: 50%;
	line-height: 31px;
	margin: 23px 0 0 110px;
	position: absolute;
	top: 0;
	width: 290px;
}

.tri {
	border-color: transparent transparent #212121;
	border-style: solid;
	border-width: 20px 17px;
	height: 0;
	left: 50%;
	margin: -40px 0 0 -400px;
	position: absolute;
	top: 0;
	width: 0;
}



a,a:visited {
	text-decoration: none;
	outline: none;
	/*border-bottom: 1px dotted #97cae6;*/
	/*color: #97cae6;*/
}

a:hover {
	border-bottom: 1px dashed transparent;
}

.clear {
	clear: both;
}


#bt_webcam{
position:absolute!important;
}


#bt_feedback {
  display:none;
  position: fixed;
  bottom: 120px;
  right: 0px;
  z-index:9999;
  cursor: pointer;


}@charset "UTF-8";



.float_left {
  float: left;
}


#all {
	/*position: absolute;*/
	min-width: 770px;
  overflow: hidden;
  width:100%;
}

#top {
  background-color: #fcf4b3;
	background-image: url("/img/images/top_bg_tile.jpg");
	background-repeat:repeat-x;
  height:80px;


	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
}

.top_channel {
  float:right;
  color:#261d06;
  padding-right:20px;
  margin-top: 18px;
  text-align: right;
  font-family:"Deftone", 'DeftoneStylus-Regular', Arial, Helvetica, sans-serif;
  color:#C00;
  font-size:2.2em;
  /*text-shadow: 0px 0px 4px #fff ;*/
  font-weight: normal;
  text-shadow: 2px 2px 0px #fff,
    -2px -2px 0px #fff,
    4px -2px 0px #fff,
    -4px 2px 0px #fff,
    1px 1px 5px #000;
}
#right_items {
	float: right;
	clear: none;
  margin-top: 5px;
  margin-right: 8px;
}

.deftone_title {
	font-size: 2.6em;
  word-spacing: 0.1em;
  font-family:"Deftone", 'DeftoneStylus-Regular', Arial, Helvetica, sans-serif;
  color: #fef0a3 !important;
}

#snappers {
	background: url("/img/images/snappers.png");
	float: right;
	width: 60px;
	height: 30px;
	background-repeat: no-repeat;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	text-align: center;
}

.social {
	float: right;
	margin: 8px;
  margin-right: 0px;
}

#main {

	overflow-y: scroll;
	padding-bottom: 30px;
	padding-right: 10px;
	background-color: #eaeaea;
  height: 450px
}
.main_pages {
  padding: 0px 30px 0px 30px;
}

.main_pages h2 {
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}
.main_pages h3 {
  margin-top: 15px;
}

.link {
    cursor: pointer;
    /*color:#0000CC;*/
    text-shadow: none;
    color: #149264;
    /*
    color: #149264;
    font-weight:bold;
    */
}


.item {
	float: left;
	width: 188px;
	height: 188px;
	padding: 5px;
	margin: 15px;
	border: solid 1px #CCC;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
	background-color: #FFF;
}

.item_onover {
  display:none;
  position:relative;
  float: left;
  height: 30px;
  width: 178px;
  color: #fff;
  font-size: 13px;
  padding: 5px;
  margin-top: -188px;
  background-image: url("/img/images/trans_bg.png");
}

.item_onover span {
  float: left;
  margin-top:8px;
}
.item_onover a {
  float: left;
  padding-left: 4px;
  padding-top: 3px;
}

.item_goto {
  float:right !important;
  color: #fff !important;
  padding-top: 6px !important;
}

.item_goto .ui_ico {
  float: right !important;
  margin-top: 0px !important;
  margin-left: 2px;
}
.item_text {
	position: relative;
	width: 168px;
	padding: 10px;
	color: #FFF;
  word-wrap: break-word;
	font-size: 11px;
	background-image: url("/img/images/trans_bg.png");
}

.item_username {
	float: left;
	color: #FFF;
	font-size: 10px;
	background-image: url("/img/images/username_bg.gif");
	background-repeat: repeat-x;
	padding: 3px;
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 8px;
	margin-top: 6px;
	height: 12px;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
}

.item_time {
	float: right;
	color: #FFF;
	font-size: 10px;
	background-image: url("/img/images/time_bg.gif");
	background-repeat: no-repeat;
	padding: 3px;
	padding-left: 20px;
	padding-right: 8px;
	padding-top: 4px;
	margin-top: 6px;
	height: 12px;
	font-style: italic;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	font-style: italic;
}

.item_photo {
  margin: 0px;
  padding: 0px;
  height: 188px;
  width: 188px;

}


#foot {
	height: 66px;
	background-color: #1e1705;
	background-image: url("/img/images/bottom_bg.gif");
	padding-top: 15px;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
	position:fixed;
	bottom:0px;
	width:100%;
}
.beige_text{
color:#fef0a3;
}
#chat_container {
  height: 60px;
  padding-left: 30px;
  width: 710px;
  overflow: hidden;
}

#lame_chat_overlay {
  position:fixed;
  height: 60px;
  width: 660px;
  bottom: 15px;
  left: 10px;
  margin-left: 90px;
  display: none;
  z-index: 10;

}

#chatText {
	margin: 0px;
	padding: 2px 40px 2px 2px;
  font-size : 24px !important;
	color: #6a0005;
	width: 460px;
	height: 40px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px #888 inset;
	-moz-box-shadow: 0px 0px 15px #888 inset;
	box-shadow: 0px 0px 15px #888 inset;
	border: solid 1px #666;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
	outline: none;
}

.initial {
	color: #b5b5b5 !important;
}

#foot object {
	float: left;
	margin-right: 10px;
}

.chat_counter {
	position: fixed;
	width: 100px;
	text-align: right;
	margin-left: 390px;
	margin-top: 20px;
	color: #b5b5b5;
}
.chat_counter_lev1 {color:#000000;}
.chat_counter_lev2 {color:#f5cd07;}
.chat_counter_over {color:#ff0000;}

#foot input {
	float: left;
}

.overlay {
  display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-image: url("/img/images/trans_bg.png");
  z-index: 100;
}



.overlay_box {
	margin: auto;
	margin-top: 30px;

  background-image: url("/img/images/overlay_bg.gif");
	width: 429px;
  /*
  Leave out so it get's it's height naturaly
	height: 500px;
  */
  /*
	width: 500px;
	heigth: 550px;
  */
  border: solid 5px #FFF;

	background-color: #FFF;


}

#overlay_box {
  background-image: url("/img/images/overlay_bg.gif");
	width: 429px;
	height: 500px;
}

.profile {
	float: left;
	width: 153px;
	padding: 10px;
	margin: 10px;
	background-image: url("/img/images/profile_bg.png");
	background-repeat: no-repeat;
}

div.profile img {
	float: left;
	margin-left: 6px;
}

.profile_name {
	padding: 3px;
	padding-left: 10px;
	color: #FFF;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
}

.profile_social {
	padding: 8px;
}
.profile_social a {
  display:none;
}

.overlay_box_header {
	color: #FFF;
  height: 90px;
  margin: auto;

}

#overlay_box_header {
  /*background-image: url("/img/images/overlay_bg_top.gif");*/
}


.overlay_title {
	position: relative;
	left: -15px;
	top: -45px;
}

.overlay_box_main {
	padding: 10px;
  width: 409px;


}
#snappers_num {
  margin-right: 10px;
}

.overlay_btn_footer {
  height: 60px;
  padding-top: 20px;
  padding-right: 93px;

}

.overlay_btn_footer .btn {
  float:right;
  margin-left: 10px;
}
#overlay_box_main {
  overflow-y: scroll;
  height: 300px;
}



/*
#overlay_box_footer{
	background-image:url("/img/images/overlay_bg_bottom.gif");
	height:50px;
	background-position:bottom;
}
*/
.overlay_x {
	float: right;
	position: relative;
	top: -20px;
	left: 20px;
}


.overlay_footer_share {
  height: 25px;
  margin-top: 10px;
  margin-left: 40px;
}


.cam_overlay_narative {
  padding: 10px;
  color: #fff;
  height: 56px;
  text-align: center;
}

#cam_overlay {
  z-index:-1;
  display:block;
}
.cam_overlay_highlight {
  color: #0F0;
  font-weight: 700;
}


#cam_overlay_downarrow {
  position:absolute;
  top: 365px;
  /*left: 410px;*/
  color: #0F0;
  font-size: 3em;
  z-index: 9998;
  font-weight: bolder;
  margin-left: 180px;
  z-index:300;

}
#cam_overlay_leftarrow {
  display:none;
  position: absolute;
  top: 227px;
  margin-left: 330px;
  width: 80px;
  height: 60px;
  text-align: center;
  z-index:300;
}

.cam_overlay_leftarrow_text {
  color: #fff;
  padding-left: 5px;

}
.cam_overlay_leftarrow_arrow {
  color: #0F0;
  font-size: 3em;
  margin-top: -18px;
}

#chatbox_videofeed {
	width: 220px;
	height: 165px;

	overflow: hidden;
  margin: auto;
  z-index: -100;




  position: absolute;

	border: solid 1px #CCC;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
	background-color: #FFF;
}

.chatbox_videofeed_modal {
  top: 210px;
}



.logo_diag {
	position: relative;
	top: -30px;
	left: -30px;
}

/**
 *
 * OLD STYLES
 */
#header_master {
	height: 70px;
}

#master_feed_chat {
	float: left;
	min-width: 400px;
	max-width: 600px;
	background: #fff;
	border-right: 2px solid #996666;
	margin-right: 15px;
}

#master_feed {
	overflow: auto;
	margin-bottom: 70px;
	height: 300px;
}

.master_feeditem {
	height: 75px;
	background: #ececec;
}

.feeditem_photo {
	float: left;
	width: 60px;
	height: 60px;
}

.feeditem_photo_image {
	width: 70px;
	height: 70px;
}

.feeditem_feed {
	padding-left: 85px;
	padding-right: 10px;
}

#master_chatbox {
	height: 70px;
	position: absolute;
	bottom: 0;
}

#rightside {
	border: 1px solid #999;
	height: 500px;
}

#webcam_movie {

}

#chatbox_form_master {
	float: left;
}

#chatbox_textarea {
	width: 350px;
	height: 36px;
	border: 1px solid #CCC;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 8px;
	-webkit-box-shadow: 0 1px white;
	-moz-box-shadow: 0 1px white;
	box-shadow: 0 1px white;
	color: #222;
	font: 14px/18px "Helvetica Neue", Arial, sans-serif;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: pre-wrap;
	word-wrap: break-word;

}



.btn {
	/*-moz-background-clip:border;*/
	-moz-background-inline-policy:continuous;
	/*-moz-background-origin:padding;*/

	-moz-box-shadow: 0px 0px 10px #111;
	-webkit-box-shadow: 0px 0px 10px #111;

    background:url("/img/btn_bg.png") repeat-x scroll;
    background-color: #dadada;

    -moz-border-radius: 4px; -webkit-border-radius: 4px;
    height: 20px;
    padding: 5px 15px 0  15px;
    background-position: 0 -30px;

	border:solid 1px #b12a1c;
	background-color:#9a0007;

   	color:#faf5d2!important;
	cursor:pointer;
	line-height:14px;
	margin:0;
	overflow:hidden;
	text-align:center;
	/*
    font-family: Helvetica Neue, Arial, Helvetica, FreeSans, sans-serif;
    font-size: 13px;
	*/
    font:12px/15px "Helvetica Neue", Arial, Helvetica, FreeSans, sans-serif;

    font-weight: bold;
    text-shadow:-1px -1px  2px #000000;
    letter-spacing: 0.02em;
    display:inline-block;
}

.btn_m, .btn_35 { /* medium button */
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    padding: 7px 20px 0  20px;
    background-position: 0 0;
    height: 28px;
    font-size:1.2em;
    font-weight: bold;
    line-height:20px !important;

}

.btn_l, .btn_45 { /* large button */

    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    height: 30px;
    padding: 15px 20px 0  20px;
    background-position: 0 -90px;


    font-size:1.5em;
    line-height:24px !important;
}

.frame_overlay_photo_master {
  text-align: center;
  margin: auto;
  position: relative;
  top: -15px;
}
#frame_overlay_photo {
  border:solid 12px #FFF;
  margin: auto;

}


#chat_user_image {
  text-align: right;
  margin: 6px 15px 0 15px;
  height: 35px;
  width: 35px;
  overflow: hidden;
  -moz-border-radius: 4px; -webkit-border-radius: 4px;

}

#chat_user_name {
  height: 13px;

  font-size: 11px;
  color: #fff;
  width: 65px;

  overflow: hidden;
  text-align: center;
}


.frame_overlay_box_header {
  height: 80px;
}
.frame_overlay_share_btn {
  float:left;
  vertical-align: top;
}
.frame_overlay_tw , .frame_overlay_fb, .frame_overlay_share_like {
  float:left;
  margin-left: 15px;
}

.frame_overlay_user_text{
width: 320px;
height:60px;
  border:solid 12px #FFF;
  border-top: 0px;
  margin:auto;
background-color:#fff;
color:#000;
font-size:1em;
text-align: center;
vertical-align: middle;
}

.share{
  margin-top:3%;
  color:#fdf7c6;
  font-size:0.8em;
}

#frame_overlay_box_main {
}


#frame_overlay_user {
 float:right;
}



.frame_overlay_footer_share {
  height: 25px;
  margin-left: 5px;
  float: left;
  width: 400px;
}

.frame_overlay_close {
  padding: 30px 36px 10px 10px;
  height: 40px;

  text-align:right;
  vertical-align: top;

}

.frame_overlay_close .btn {
  position: relative;
  top: -33px;
}



#chat_user_menu {
  position: absolute;
  display:none;
  float:left;
  height: 230px;
  width: 210px;
  bottom: 82px;
  left: 28px;
  border: 2px solid #fdf7c6;
  -webkit-box-shadow:inset 0px 0px 10px #000 , 0px 0px 10px #000;
  -moz-box-shadow:inset 0px 0px 10px #000 , 0px 0px 10px #000;
  background-color: #3c2c0a;

}

#chat_user_menu_name {

  overflow: hidden;
  text-align: center;
  height: 40px;
  margin-top: 5px;
}

.cam_overlay_cam_holder {
	width: 220px;
	height: 185px;
}
.chat_user_menu_footnote {
  margin: 27px 10px 0px 10px;
  color: #999;
  font-size: 0.7em;
  width: 190px;
}
#chat_user_menu_opencam {
  width: 210px;
  height: 85px;
  margin-top: 40px;
 }
#chat_user_menu_opencam span {
  margin-left: 20px;

}

.foot_fine_print{
  float:right;
  color: #999;
  font-size: 0.6em;
  position:fixed;
  bottom: 0px;
  right: 10px;
  padding: 2px;
  padding-right: 5px;

}
.foot_fine_print a, .foot_fine_print a:visited{
  color: #999 !important;
  text-decoration: underline;
}


.header_title {
  float:right;
  color:#261d06;
  padding-right:80px;
  margin-top: 18px;
  color:#C00 !important;
  text-shadow: 2px 2px 0px #fff,
    -2px -2px 0px #fff,
    4px -2px 0px #fff,
    -4px 2px 0px #fff,
    1px 1px 5px #000;
}/**
 * The Hover box that appears after an action, right bellow the action
 */
 .alert_content_master{
    z-index:100;
    border:solid 1px #CCC;
    border-top:0px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    padding:5px;
    background: #eee;
    font-size: 1.1em;
    font-weight: bold;
  margin-left:10px;
  margin-right:10px;
 }
.alert_box {

}
.alert_footer {
  clear:both;
  margin-left:20px;
  padding:5px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
  border:solid 2px #CCC;
  margin-top:15px;
  float:left;
}
.alert_box_master {
display:none;
position: absolute;
z-index:100;
}
.alert_box_master_static {
  position: relative !important;
  border: 0px !important;
}
.alert_box_master_inline {
  background: inherit !important;
    padding:0px !important;
    margin-right: 0px !important;
}

.alert_box_cont_main {
    margin-top:6px;
    margin-bottom:6px;
    text-align:left;
    margin-left: 10px;
    margin-right: 10px;
  float:left;
  clear:both;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right:20px;
}

.alert_box_cont_main_inline {
  padding: 4px !important;
  margin: 0px !important;
}

.alert_box_cont_img {
    float:left;
    
}
.alert_box_cont_msg {
    padding-left: 10px;
}
.alert_success {
    border: 2px #006914 solid !important;
    background: #c2ff67 !important;
}
.alert_info {
    border: 2px #0300ca solid !important;
    background: #dbe1ff !important; 
}
.alert_error {
    border: 2px #f47377 solid !important;
    background: #ffccc8 !important; 
}
.alert_warning {
    border: 2px #ffda26 solid !important;
    background: #fffece !important; 
}
.alert_warning_title {
    background: #ffda26 !important;
}


#master_alert {
  position: absolute;
  z-index: 150;
  width:100%;
  top:0px;
  padding: 0px;
  margin: 0px;
  border:0px;
  left:0px;
}
#master_alert div.alert_box {
  position:relative;
  margin-left:10px;
  margin-right: 10px;
}
@charset "UTF-8";

#home_master {
	background-color: #fff6b7;
	background-image: url("/img/home_images/home_bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	margin-top:0px;
}

#home_all {
	margin-top: 140px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: #666 -1px 1px 1px, #fff 1px -1px 1px;
}

#connect {
clear: both;
width:418px;
margin:auto;
text-align:center;
}

#master_loader{
text-align:center;
}

#master_loader_image{
margin:auto;
margin-top:0px;
}
#master_loader_text {
  text-align: center;
  color: #fff;
}


h1 {
	font-weight: normal;
	font-size: 24px;
	color: #484848;
}


.input_field {
	margin: 0px;
	color: #6a0005;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 15px #888 inset;
	-moz-box-shadow: 0px 0px 15px #888 inset;
	box-shadow: 0px 0px 15px #888 inset;
	border: solid 1px #666;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
	outline: none;
}

#home_title {
	font-size: 20px;
	font-weight: normal;
	/*
	left: 50%;
	margin-left: -400px;
	*/
	padding: 25px 0;
	/*
	position: absolute;
	width: 480px;

	*/
	width:100%;
	float:left;

	text-align:center;

}

.initial {
	color: #b5b5b5 !important;
}



/*
    Document   : icons
    Created on : Jun 11, 2011, 12:51:12 PM
    Author     : Thanasis Polychronakis <thanasisp@gmail.com>
    Description: Will contain all icons and images included in our master icon png file

*/


.ui_ico_tw_large {
    background-position:-0px -43px;
    height:43px;
    width:193px;
}

.ui_ico_fb_large {
    background-position:-0px -0px;
    height:43px;
    width:212px;
}


.ui_ico_twitter_plus{
width:73px;
height:55px;
background-position:139px 164px;
}
.ui_ico_facebook_plus{
width:73px;
height:55px;
background-position:139px 114px;
}

.ui_ico_boothchat_diagonal{
width:135px;
height:112px;
background-position:4px 100px;
}

.ui_ico_snappers_text{
width:142px;
height:88px;
background-position:97px 19px;
}

.ui_ico_snappers_btn{
width:96px;
height:57px;
background-position:57px 207px;
}


.ui_ico_boothchat_logo{
width:140px;
height:34px;
background-position:60px 342px;
}

.ui_ico_arrow_previous{
width:29px;
height:29px;
background-position:142px 400px;
}

.ui_ico_arrow_next{
width:29px;
height:29px;
background-position:57px 400px;
}

.ui_ico_fb_share{
width:57px;
height:18px;
background-position:0px -201px;
}

.ui_ico_popup {
  width: 10px;
  height: 10px;
  background-position:0px -219px;
  vertical-align: top !important;
}

.ui_ico_feedback {
width:37px;
height:116px;
background-position:0px -229px;
display: none;
margin: 0px !important;

}

.ui_ico_fb_16_bw {
width:16px;
height:16px;
background-position:-37px -229px;
}
.ui_ico_tw_16_bw {
width:16px;
height:16px;
background-position:-53px -229px;
}

.ui_ico {
	background-image:url("/img/images/icons-master.png");
	background-repeat:no-repeat;
	display:inline-block;
	outline:medium none;
	overflow:hidden;
	vertical-align:bottom;
    margin-bottom:0;
    margin-right:4px;
    margin-top:0;
}
