a {
  text-decoration: none;
}

.link {
  cursor: pointer;
}

.linkcolor {
  color: #15C;
}

#master div {
  padding: 20px 0 20px 0;
}
#master {
  padding: 20px;
}


#auth_state {

}
#auth_state_content {
  overflow: auto;
  border: 1px solid #bbb;  
  width: 500px;
  height: 300px;
  
}

#logged_in {
  display:none;
}